html,
body {
    margin: 10;
    padding: 10;
}

.grid {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: chartreuse;
}